* {
  background-image: url("seattle watercolor1.jpg");
}

h1 {
  color: blue;
  font-family: monospace;
  font-size: 40px;
}

h3 {
  color: #00e52f;
  font-family: monospace;
  font-size: 25px;
}

body {
  font-family: monospace;
  font-size: 20px;
}

#greeting {
  color: red;
  font-family: monospace;
  font-size: 20px;
}

.correct {
  color: DeepPink;
  float: right;
}

.incorrect {
  color: brown;
  float: right;
}
